.content2 h3{
    font-size: 1.999rem;
    padding: 1rem 2rem 0.5rem;
}
.content2 h4{
    font-size: 1.999rem;
    padding: 1rem 2rem 0rem;
}
.content2 p{
    font-size: 1.414rem;
    padding: 0.5rem 2rem 1rem;
}
.content2 li{
    padding: 0.5rem 2rem;
	font-size: 1.414rem;}
section.content2{
    padding:2rem 0;    
}
.bg-content2{
    background-color: #C7F7FF;
    color: #3a5E63;
}
