.bg-header{
    background-color: #fff;
    background-color:#C7F7FF;
    color: #222;
    border-bottom:1rem solid #89C0C9;
    border-top:1rem solid #3a5E63;
    position: relative;


	&:before,
    &:after{
    content:"";
    position:absolute;
    bottom:-1rem;
    width:30%;
    height:1rem;
    background-color: #3a5E63;
}
}




//.bg-header:before,
//.bg-header:after{
//    content:"";
//    position:absolute;
//    bottom:-1rem;
//    width:30%;
//    height:1rem;
//    background-color: #3a5E63;
//}



.bg-header:before{
    left:0;
}
.bg-header:after{
    right:0;
}
